@tailwind base;
@tailwind components;
@tailwind utilities;


/* this is the css used in the edit page due to the edit function not recognsing the select component */
.custom-select {
    margin-top: 20px;
    margin-right: 1880px;
    border: 1px solid rgb(0, 0, 0); /* Border color for non-focused state */
    background-color: rgb(251, 207, 232); /* Background color for non-focused state */
    color: black; /* Text color for non-focused state */
    border-radius: 0.375rem; /* Rounded corners */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* Shadow for non-focused state */
    width: 1165px
    
}

.custom-select:focus {
    border-color: rgb(136, 0, 255); /* Border color for focused state */
    background-color: rgb(251, 207, 232); /* Background color for focused state */
    color: black; /* Text color for focused state */
    outline: rgb(17, 24, 39); /* Remove the default focus outline */
}


.filter-select {
    background-color: white;
    border: solid 1px #9C27B0 ;
    padding: 5px 35px 5px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
};

